.header{
   background-color: aquamarine;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   height: 10vh;
   padding: 0 4vw;
   align-items: center;
}
.header>h2:hover{
   cursor: pointer;
}
.header>span>img{
   height: 8vh;
   width: auto;
}
.header>span:hover{
   cursor: pointer;
}